@model StudentController
@{
    Layout = "_layout" ;
    ViewBag.Title = "Delete";

}

     <div class="card" style="width: 18rem;margin-top:30px ">
     <div class="card-body alert alert-danger">
   
<h2  class="card-title">Are You Sure You Wanna?!</h2>
<h3  class="card-title">Delete Student</h3>
<h4  class="card-subtitle mb-2 text-muted">@Model.id</h4>
<h4  class="card-subtitle mb-2 text-muted">@Model.name</h4>
<h4  class="card-subtitle mb-2 text-muted">@Model.age</h4>
    </div>
    <form asp-action="deleteConfirmed" asp-controller="Home" asp-route-id="@Model.id">
        <input type="submit" value="delete"class="btn btn-danger " />
    </form>

