@model StudentController
@{
  Layout = "Layout2" ;
    ViewBag.Title = "Update";

}


  <div style="margin-top:20px">
<form method="post" action="/home/update">

    <div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
  </div>
  <input type="text" name="id" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="@Model.id">
</div>


<div class="input-group input-group-sm mb-3">
  <input type="text" name="name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="@Model.name">
</div>


<div class="input-group input-group-sm mb-3"> 
<input type="text" name="age" placeholder="@Model.age" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="@Model.age">
</div>

 <button type="submit" class="btn btn-primary">update</button>
   <a href="/home/index" class="btn btn-primary">back</a>

</form>
  
  
  </div>
